.statisticsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.25rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.25rem 0;
}

.assetsCard {
    display: flex;
    gap: 1rem;
}

@include MediaQueryMobile {
    .assetsCard {
        flex-direction: column;
    }
}

